.btn {
  border: 1px solid #30fdff;
  box-shadow: 0px 4px 0px 0px rgba(148, 226.99999999999997, 255, 0);
  padding: 15px 45px;
  color: #30fdff;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin: 15px 0;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: #30fdff;
    z-index: -1;
    transition: 0.6s;
  }
  &:hover {
    color: #000;
    &::before {
      width: 100%;
    }
  }
}
