header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: none;
  .logo {
    font-weight: 800;
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Montserrat Alternates", sans-serif;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 30px;
    ul {
      display: flex;
      align-items: center;
      gap: 30px;
      li {
        a {
          color: #fff;
          font-weight: 500;
          font-size: 17px;
          line-height: 19px;
          &:hover {
            color: #30fdff;
          }
        }
      }
    }
    .bookTable {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      padding: 11px 22px;
      border-radius: 15px;
      border: 2px solid #ffffff80;
      text-transform: uppercase;
      &:hover {
        background: #ffffff;
        color: #000;
      }
    }
  }
  .toggleBtn {
    display: none;
    transition: transform 0.3s ease-in-out;
    .Icon {
      color: #fff;
      font-size: 27px;
      font-weight: 900;
      transition: transform 0.3s ease-in-out;
    }
  }
}
header.scrolled{
  background-color: #000;
}
@media (max-width: 1024px) {
  header {
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    nav {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      background-color: #000;
      transition: 0.3s;
      flex-direction: column;
      align-items: end;
      padding: 2rem 1.5rem 2rem 2rem;
      ul {
        flex-direction: column;
        align-items: end;
        li {
          a {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
    nav.open {
      right: 0;
    }
    .toggleBtn {
      display: block;
    }
  }
}
